.container {
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
}

#create-form {
    display: block;
    position: relative;
    top: -34%;
    left: 5%;
    width: 52%;
    z-index: 1;
}


#burgers-list {
    background-color: rgb(236, 44, 44);
    z-index: 1;

}

#devoured-list {
    background-color: rgb(231, 192, 19);
}

#add-burgers-list {
    background-color: rgb(243, 161, 8);
}

.form-group {
    color: black;
    font-weight: bold;
}

li {
    color: black;
    font-weight: bold; 
}

body {
    background-image: url('../images/burgerpic.png');
    background-repeat: no-repeat;
    background-size: cover;
}